 body {
  /*background: #fff url("../img/homeimg.jpg") repeat-x;*/
  background-image: url("back_img.jpg");
  background-size: cover; 

 }
 
 #title_box {
 	text-align:center;
 	vertical-align: middle;
    font-family: "proxima-nova";
    font-style: bold;
    font-size: 50px;
    color: #E7F1F4; 
    position: relative;
    top:-50px;
 	}


#due_date1,#due_date2,#due_date3,#due_date4,#due_date5 {
	position: relative;
	top:-40px;
}


#profile_box {
    color:#000000; 
    cursor:pointer;
    margin-top: 10px;
    margin-right: 10px;
 }

 img{
     border-radius: 50%;
     width:100px;
     height:100px;
 }


 #getstarted_box {
 	color:green;
 	font-family: "proxima-nova", serif;
 	font-size: 50px;
 	font-style: bold;
 	text-shadow: 1px 1px; 
 	text-align: center;
 	margin-top: 30px;
 	border-style: solid;
 	border-width: 9px;
 	border-color:white;
 	width:fit-content;
 	margin-left: 700px;

 }

 table, th, td {
    border: 1px solid white;
    font-family: "Lucida Sans Unicode";
    color: white;
    text-align: left;
}

#spacer {
	height: 100px;
}

#spacer2{
	height: 50px;
}

#spacer3{
	height: 65px;
}


#cal1,#cal2,#cal3,#cal4,#cal5 {
	position: relative;
	top:-40px;
	left:30px;
}

#task_type1,#task_type2,#task_type3,#task_type4,#task_type5 {
	position: relative;
	left:30px;
}
#task_type1 {
	top:-40px;
}
#task_type2 {
	top:-35px;
}
#task_type3 {
	top:-30px;
}
#task_type4 {
	top:-30px;
}
#task_type5 {
	top:-30px;
}

#input_box1{
	position: absolute;
	top: 140px;
	right: 1075px;
	padding-right: 20px;
	padding-left: 20px;
	background: #c0c0c0;
	font-size: 25px;
	font-family: "proxima-nova", serif;
	color:black;
	opacity: .7;
	border-radius: 20px;
	transform: translateY(180%);
	transform: translateX(50%);
	height:fit-content;
	width: 200px;
}
#input_box2{
	position: absolute;
	top: 230px;
	right: 1075px;
	padding-right: 20px;
	padding-left: 20px;
	background: #c0c0c0;
	font-size: 25px;
	font-family: "proxima-nova", serif;
	color:black;
	opacity: .7;
	border-radius: 20px;
	transform: translateY(180%);
	transform: translateX(50%);
	height:fit-content;
	width: 200px;
}
#input_box3{
	position: absolute;
	top: 320px;
	right: 1075px;
	padding-right: 20px;
	padding-left: 20px;
	background: #c0c0c0;
	font-size: 25px;
	font-family: "proxima-nova", serif;
	color:black;
	opacity: .7;
	border-radius: 20px;
	transform: translateY(180%);
	transform: translateX(50%);
	height:fit-content;
	width: 200px;
}
#input_box4{
	position: absolute;
	top: 410px;
	right: 1075px;
	padding-right: 20px;
	padding-left: 20px;
	background: #c0c0c0;
	font-size: 25px;
	font-family: "proxima-nova", serif;
	color:black;
	opacity: .7;
	border-radius: 20px;
	transform: translateY(180%);
	transform: translateX(50%);
	height:fit-content;
	width: 200px;
}
#input_box5{
	position: absolute;
	top: 500px;
	right: 1075px;
	padding-right: 20px;
	padding-left: 20px;
	background: #c0c0c0;
	font-size: 25px;
	font-family: "proxima-nova", serif;
	color:black;
	opacity: .7;
	border-radius: 20px;
	transform: translateY(180%);
	transform: translateX(50%);
	height:fit-content;
	width: 200px;
}

#dropdown1 {
    position: absolute;
    top: 210px;
    right: 600px;
}

#dropdown2 {
	position: absolute;
	top: 210px;
	right: 425px;
}

#scale1{
	position: absolute;
	top: 170px;
	right: 50px;
	font-size: 20px;
	color: white;
	font-family: "proxima-nova", serif;
 	font-style: bold;
}
#scale2{
	position: absolute;
	top: 190px;
	right: 50px;
	font-size: 20px;
	color: white;
	font-family: "proxima-nova", serif;
 	font-style: bold;
 	margin-top: 70px;
}
#scale3{
	position: absolute;
	top: 200px;
	right: 50px;
	font-size: 20px;
	color: white;
	font-family: "proxima-nova", serif;
 	font-style: bold;
 	margin-top: 150px;
}
#scale4{
	position: absolute;
	top: 190px;
	right: 50px;
	font-size: 20px;
	color: white;
	font-family: "proxima-nova", serif;
 	font-style: bold;
 	margin-top: 250px;
}

#scale5{
	position: absolute;
	top: 175px;
	right: 50px;
	font-size: 20px;
	color: white;
	font-family: "proxima-nova", serif;
 	font-style: bold;
 	margin-top: 350px;
}





#continue_button {
    cursor: pointer;
    position: absolute;
    right:20px;
    width: 30%;
    bottom:-8%;
  background-color: #4CAF50;
  color: white;
  font-size: 30px;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  text-align:center;


}

#continue_button:hover {
    background-color: white;
    color: #4CAF50;
}



