 body {
  /*background: #fff url("../img/homeimg.jpg") repeat-x;*/
  background: #fff url("homeimg2.jpg") no-repeat fixed center; 
  background-size: cover;
 }
 
 #date {
 	margin-top: 100px;
 	position:relative;
 	font-family: "Georgia", serif;
 	font-style: italic;
 	text-shadow: 1px 1px #9BD5E6; 
 	font-size: 60px;
 	text-align: center;
 	color: #E7F1F4;
 	vertical-align: middle;
 }

 #time {
 	position:relative;
 	font-family: "Georgia", serif;
 	font-style: bold;
 	text-shadow: 1px 1px #9BD5E6; 
 	font-size: 130px;
 	text-align: center;
 	color: #E7F1F4;
 	vertical-align: middle;
 }


 #profile_box {
 	color:#000000; 	
 }


 #getstarted_box {
 	position: relative;
 	color:green;
 	font-family: "Georgia", serif;
 	font-size: 50px;
 	font-style: bold;
 	text-shadow: 1px 1px; 
 	text-align: center;
 	margin-top: 30px;
 	border-style: solid;
 	border-width: 9px;
 	border-color:white;
 	width:fit-content;
 	left: 32%;
 }

#getstarted_box:hover {
    opacity: 0.8;
}
