body {
  /*background: #fff url("../img/homeimg.jpg") repeat-x;*/
  background: #fff url("sky.gif") no-repeat fixed center; 
  background-size: cover;
 }
 
 #title_box {
 
 	font-family: "Arial"; 
    font-size: 75px;
    display:block;
    line-height: 1em;
    text-transform: uppercase;
 	text-align: center;
 	margin-left: 415px;
 	margin-top: 180px;
 	color: #B3B3B3;

    font-style: normal;
 }


#save_changes {
    position: relative;
    left:53.5%;
    cursor: pointer;
    background-color: #0052cc;
    color: white;
    font-size: 20px;
    width:340px;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
}

#save_changes:hover {
    background-color: #3385ff;
    color: white;
}

 #profile_pic {
 
 	top: 100px;
 	margin-left: 320px;

 	
 }

 input[type=text], select {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #B3B3B3;
   
}

input[type=submit] {
    width: 58%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

input[type=submit]:hover {
    background-color: #45a049;
}

#text_form
{
	margin-left: 650px;
	margin-top: -200px;
    color:#B3B3B3;

}

#fname{
font-family: "Arial";
}

#lname{
font-family: "Arial";
}

#language{
font-family: "Arial";
}

img {
 	 border-radius: 50%;
 }
