body {
  /*background: #fff url("../img/homeimg.jpg") repeat-x;*/
  background-color:white;
 }
   #navbar-header{
  font-family: "Arial-black";
  color: #7339ac;
 }

 #title_box {
    color: #B3B3B3;
    font-family: "Arial"; 
    font-size: 75px;
    text-align: center;
    margin-top: 130px;
 }


#save_changes {
    position: relative;
    display:block;
    margin:auto;
    cursor: pointer;
    background-color: #0052cc;
    color: white;
    font-size: 20px;
    width:360px;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    margin-top:15px;
}

#save_changes:hover {
    background-color: #3385ff;
    color: white;
}


 input[type=text], select {
    width: 60%;
    padding: 12px 20px;
    display: block;
    margin:auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #B3B3B3;
   
}

input[type=submit] {
    display: block;
    margin:auto;
    width: 60%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

input[type=submit]:hover {
    background-color: #45a049;
}

#text_form
{
    width:50%;
    display: block;
    margin:auto;
	margin-top: -200px;
    color:#B3B3B3;

}

#fname{
font-family: "Arial";
}

#lname{
font-family: "Arial";
}

#language{
        display: block;
    margin:auto;
font-family: "Arial";
}


 #form{
    position:relative;
    margin-top:16%;
 }
