 body {
  /*background: #fff url("../img/homeimg.jpg") repeat-x;*/
  background: #fff url("back_img.jpg") no-repeat fixed center;
  background-size: cover; 
 }
 
 #title_box {
 	font-family: "proxima-nova";
 	font-style: italic;
 	text-shadow: 1px 1px #9BD5E6; 
 	font-size: 60px;
 	text-align: center;
 	margin-top: 20px;
 	color: #E7F1F4;
 }

 
#profile_box {
    color:#000000; 
    cursor:pointer;
    margin-top: 10px;
    margin-right: 10px;
 }

 img{
     border-radius: 50%;
     width:100px;
     height:100px;
 }


 #taskName{
 	font-family: "proxima-nova";
 	font-size: 25px;
 	color: white;
 	text-align: center;
 	margin-top: 30px;
 }

#timeSpent{
	font-family: "proxima-nova";
 	font-size: 25px;
 	color: white;
 	text-align: center;
 	margin-top: 30px;
 }

#time-date{
	font-family: "proxima-nova";
 	font-size: 25px;
 	color: red;
 	text-align: center;
 	margin-top: 30px;
 	padding: 5px;
}

#scale{
    position: absolute;
    left: 0;
    top: 360px;
    width: 100%;
    text-align: center;
	color: white;
	font-family: "proxima-nova";
 	font-size: 25px;
}

#completeness{
	font-family: "proxima-nova";
 	font-size: 15px;
 	color: black;
 	text-align: center;
 	margin-top: 20px;
}

#distract{
	font-family: "proxima-nova";
 	font-size: 25px;
 	color: yellow;
 	text-align: center;
 	margin-top: 55px;
}

#links{
	text-align: center;
	padding-top: 5px;
    color:#ffffff;
}

#done {
    cursor: pointer;
    position: absolute;
    right:20px;
    width: 15%;
  background-color: #4CAF50;
  color: white;
  font-size: 30px;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  text-align:center;


}

#done:hover {
    background-color: white;
    color: #4CAF50;
}