 body {
  background-color:white;
 }
 

 #navbar-header{
  font-family: "Arial-black";
  color: #7339ac;
 }

 #tasks_title{
 	margin-top: 25px;
 	position:relative;
    left: 15%;
 	vertical-align: middle;
    font-family: "Arial";
    font-size: 50px;
    color: #a6a6a6;
 }


 #plusbutton {
 	position:absolute;
 	left:30%;
 	font-family: "Arial";
 	text-align: center;
 	margin-top: 80px;
 	cursor: pointer;
 }




 #time {
 	position:relative;
 	font-family: "Arial";
 	text-shadow: 1px 1px #9BD5E6; 
 	font-size: 130px;
 	text-align: center;
 	color: #a6a6a6;
 	vertical-align: middle;
 }



#editable2, #editable3, #editable4, #editable5, #editable6 {
 	visibility: hidden;
 }


#editable1, #editable2, #editable3, #editable4, #editable5, #editable6 {
    color:#3f3f3f;
}

 /*ol IF WE WANT TO GET RID OF ORDERING NUMBERS {
  list-style-type: none;
}*/

#editable1, #editable2, #editable3, #editable4, #editable5, #editable6 {
	width:600px;
	left:25%;
	color: black;
 	padding-top: 20px;
 	padding-bottom:30px;
 	font-family: "Arial";
 	text-align: left;
    position: relative;
    left:5%;
    width: 200px;
    text-align: center;

}

#my_tasks_list {
    background: #c0c0c0;
    opacity:0.95;
    border-radius: 5px;
    width: 300px;
    height: 70px;

}

 /*ol li {
    cursor: pointer;
    position: relative;
    font-size: 18px;
    font-family: "Arial";
    transition: 0.4s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} */

/* Set all odd list items to a different color (zebra-stripes) */
/*ol li:nth-child(1) {
    background: #c0c0c0;
    opacity: 0.8;
}*/

/* Darker background-color on hover */
ol li:hover {
    background: #c0c0c0;
    opacity: 0.8;
}

#continue_button {
    cursor: pointer;
    position: absolute;
    right:20px;
    width: 20%;
  background-color: #0052cc;
  color: white;
  font-size: 30px;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  text-align:center;

}

#continue_button:hover {
    background-color: #3385ff;
    color: white;
}