 body {
  background: #fff url("back_img.jpg") no-repeat fixed center;
  background-size: cover;
 }
 
#profile_box {
    color:#000000; 
    cursor:pointer;
    margin-top: 10px;
    margin-right: 10px;
 }

 img{
     border-radius: 50%;
     width:100px;
     height:100px;
 }

 #date {
 	margin-top:25px;
 	font-family: "proxima-nova";
 	font-style: italic;
 	text-shadow: 1px 1px #9BD5E6; 
 	font-size: 40px;
 	color: #E7F1F4;
 	text-align: center;
 	left:28%;
 	margin-bottom: 10px;
 }

 #time {
 	margin-bottom: 50px;
 	left:28%;
 	font-family: "proxima-nova";
 	font-style: bold;
 	text-shadow: 1px 1px #9BD5E6; 
 	font-size: 40px;
 	color: #E7F1F4;
 	text-align: center;
 }

#elapsed_time {
	font-family: "proxima-nova";
 	position: relative;
 	left:79%;
 	top:-65px;
 	color: red;
}


 #current_task {
 	margin-right: 40px;
 	position:relative;
 	font-family: "proxima-nova";
 	font-style: italic;
 	text-shadow: 1px 1px #9BD5E6; 
 	font-size: 40px;
 	text-align: right;
 	color: #E7F1F4;
 	top:-50px;
 }

#task_complete {
	cursor: pointer;
	position: absolute;
    right:20px;
    left:990px;
    width: 15%;
    top:225px;
  background-color: #4CAF50;
  color: white;
  font-size: 20px;
  padding: 14px;
  border: none;
  border-radius: 4px;
  text-align:center;
}

#task_complete:hover {
    background-color: white;
    color: #4CAF50;
}


 #my_task {
 	margin-top: 15px;
 	position:relative;
 	left:85%;
 	top:-60px;
 	font-family: "proxima-nova";
 	text-decoration: underline;
 	font-size: 30px;
 	color: #E7F1F4;
 	vertical-align: middle;
 }

