 body {
  background: #fff url("back_img.jpg") no-repeat fixed center; 
  background-size: cover;
 }
 
 #date {
 	margin-top: 10px;
 	position:relative;
 	font-family: "proxima-nova";
 	font-style: italic;
 	text-shadow: 1px 1px #9BD5E6; 
 	font-size: 40px;
 	text-align: center;
 	color: #E7F1F4;
 	vertical-align: middle;
 }

 #time {
 	position:relative;
 	font-family: "proxima-nova";
 	font-style: bold;
 	text-shadow: 1px 1px #9BD5E6; 
 	font-size: 40px;
 	text-align: center;
 	color: #E7F1F4;
 	vertical-align: middle;
 }


ul {
	list-style-type: square;
	padding-right:-20px;
	background: #c6c5c8;
	width: 550px;
	opacity: 0.8;
	padding-bottom: 5px;
	border-radius: 4px;	
	
}
li {
	position: relative;
	font-family: "proxima-nova";
 	font-size: 25px;
 	left:2%;
 	margin-bottom: 20px;
 	width: fit-content;
 	color:#000000;
}

h1 {
	position: relative;
	left: 4%;
	font-family: "proxima-nova";
 	font-style: bold;
 	font-size: 30px;
 	color:red;

}

button {
	font-size: 20px;
	border-radius: 4px;
	background: #c0c0c0;
	color:green;
}

#profile_box {
    color:#000000; 
    cursor:pointer;
    margin-top: 10px;
    margin-right: 10px;
 }

 img{
     border-radius: 50%;
     width:100px;
     height:100px;
 }

#b1,#b2,#b3,#b4,#b5,#b6 {
	cursor:pointer;
	position: relative;
	left:60%;
	top: -50px;
  	padding: 10px;
  	border-radius: 4px;
 	text-align:center;
 	background-color: #4CAF50;
  	color: white;
}

#new_task {
	cursor:pointer;
	position: relative;
  	padding: 10px;
  	border-radius: 4px;
 	text-align:center;
 	background-color: #4CAF50;
  	color: white;
  	left:57%;
	top: -30px;
}


#todolist_title {
	list-style-type: none;
	position: relative;
	left: 0%;
	font-family: "proxima-nova";
 	font-style: bold;
 	font-size: 30px;
 	top:25px;
 	color:red;
}

#dt1,#dt2,#dt3,#dt4,#dt5,#dt6 {
	background:red;
	cursor:pointer;
	position: relative;
	left:62%;
	top: -50px;
  	padding: 10px;
  	border-radius: 4px;
 	text-align:center;
 	background-color: #4CAF50;
  	color: white;
}

